In [ ]:
import os
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
from utils.utils import pretty_lat, pretty_lon, ProgressStatus, plot_n_steps_of_area_from_nc_file
from tempfile import TemporaryDirectory

In [2]:
from station.data_submission import DataSubmission
from station.station import StationData

from train_station_twin.training_executer import TrainingExecuter
from infilling.evaluation_executer import EvaluatuionExecuter
from infilling.infilling_writer import InfillingWriter

from era5.era5_for_station import DownloadEra5ForStation, DownloadEra5ForStationGaps
from era5.era5_download_hook import Era5DownloadHook

In [3]:
barbados_data = DataSubmission("Barbados")
barbados_data.measurement_dir_path = "./measurements/Barbados/"

barbados_station = StationData(
    name=barbados_data.name,
    folder_path=barbados_data.measurement_dir_path,
    first_n_files = 50
)

Extracting Barbados...

100%|██████████| 50/50 [00:02<00:00, 18.71it/s]

In [4]:
# start date
start_date = "2020-01-01"
# end date
end_date = "2020-12-31"

# slice the df barbados_station.df
df = barbados_station.df.loc[start_date:end_date]
df

                        ir_light   vis_light    uv_light         tas
datetime
2020-06-23 18:00:00  5135.344828  716.931034  246.517241  301.148276
2020-06-23 19:00:00  2969.266667  512.883333  137.083333  299.438333
2020-06-23 20:00:00  2080.833333  427.733333   91.516667  299.860000
2020-06-23 21:00:00   839.716667  314.633333   30.900000  299.188333
2020-06-23 22:00:00   315.800000  266.316667    5.100000  298.666667
...                          ...         ...         ...         ...
2020-07-06 20:00:00  2115.084746  437.728814   96.847458  298.258475
2020-07-06 21:00:00  1094.733333  341.233333   45.116667  298.481667
2020-07-06 22:00:00   341.133333  267.400000    5.600000  298.028333
2020-07-06 23:00:00   253.316667  260.183333    1.800000  297.828333
2020-07-07 00:00:00   253.120690  260.500000    2.034483  297.777586

[295 rows x 4 columns]

In [6]:
import matplotlib.pyplot as plt
from utils.utils import plot_measurements_df
plot_measurements_df(barbados_station.df)

/Users/timo.wacke/VsCodeProjects/digital-twin-for-weather-station/utils/utils.py:159: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

**Plot a few random timesteps of the weather station:**

In [ ]:
random_timesteps = marshall_station.df.index

In [ ]:

training = TrainingExecuter(station=marshall_station, ProgressStatus())

output_model_path = training.execute()
marshall_data.add_model(output_model_path)

In [ ]:
barbados_station = StationData("Barbados", "./measurements/Barbados/")
vienna_station = StationData("Vienna", "./measurements/Vienna/")