In [8]:
from utils.utils import plot_measurements_df
import pandas as pd

In [12]:
df = pd.read_csv('infilled.dat')
# rename colum mcp_9808 to tas
df = df.rename(columns={'mcp_9808': 'tas'})

df

      datetime int bmp2_temp bmp2_pres bmp2_slp bmp2_alt bme2_hum htu_temp htu_hum sth_temp sth_hum tipping vis_light ir_light uv_light wind_dir wind_speed mcp9808
0      2022-11-09 08:00:00 -999.99 -999.99 -999.99 -9...
1      2022-11-11 09:00:00 -999.99 24.2 924.1 929.37 ...
2      2022-11-11 10:00:00 -999.99 -999.99 -999.99 -9...
3      2022-11-14 08:00:00 -999.99 -999.99 -999.99 -9...
4      2022-11-14 09:00:00 -999.99 -999.99 -999.99 -9...
...                                                  ...
10056  2024-01-15 04:00:00 -999.99 9.4 1015.9 1021.69...
10057  2024-01-15 05:00:00 -999.99 9.8 1016.3 1022.1 ...
10058  2024-01-15 06:00:00 -999.99 10.2 1017.1 1022.9...
10059  2024-01-15 07:00:00 -999.99 10.4 1017.9 1023.7...
10060  2024-01-15 08:00:00 -999.99 10.4 1018.0 1023.8...

[10061 rows x 1 columns]